body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, #3498db, #2c3e50); /* Gradient background */
    color: #fff; /* Text color */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: background 0.3s ease; /* Smooth transition for background */
}
header{
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 30px;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white background */
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Increased box shadow */
    transition: background 0.3s ease; /* Smooth transition for background */
}

.container p {
    margin: 0;
    font-size: 24px; /* Increased font size */
    color: #333;
    transition: font-size 0.3s ease; /* Smooth transition for font size */
}

.container:hover p {
    font-size: 68px; /* Enlarged font size on hover */
}
button {
    border: 2px solid #fff;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4380bd;
    font-size: 25px;
}
.admin-container {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width:400px;
}
.admin-container {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width:400px;
}
p{
    margin-bottom: 8px;
    color: #333;
}

h2 {
    color: #333;
    font-size: 38px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 8px;
    color: #333;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}